<nb-card>
    <nb-card-body>
        <input nbInput type = "text" [(ngModel)] = "$input" (keyup.enter)="add()"/>
        <button nbButton hero (click) = "add()" [disabled]="inputIsEmpty">Yolo</button>
    </nb-card-body>
</nb-card>
<nb-card>
    <nb-list>
        <nb-list-item *ngFor="let item of listProduct" [ngClass]= "{'checked' : item.isChecked}" >
             <div (click) = "inverseCheck(item)">{{item.quantity}} - {{item.name}}</div>
            <button nbButton (click)="askDelete(item)" >
                <nb-icon icon="trash-outline"></nb-icon>
            </button>
        </nb-list-item> 

    </nb-list>
</nb-card>
