img{
    max-width: 50px;
    max-height: 50px;
    margin-left: auto;
}
nb-list-item{
    display: flex;
    align-items: center;
}
.end{
    margin-left: auto;
}
.flex-btn{
    display: flex;
    align-items: center;
}
nb-card{
    cursor: pointer;
}